# {{ spec.ID }}: {{ spec.Title | title }}

**Implementation Types:**

{% for implementation in spec['Implementation Types'] -%}
- {{ implementation | title }}
{%- endfor %}

**Weight:** {{ spec.Weight | default('Weight is not defined') }}

## Descriptive Statement

{{ spec.Description }}

## Supplemental Guidance

{% for note in spec.Notes -%}
{{ note }}
{% endfor %}
## Scoring Guide

{{ spec.Score | default('Score is not defined') }}

**Formula:**

{{ spec.Formula | default('Formula is not defined') }}

## References:

{% for reference in spec.References -%}
- [{{ reference.Name | title }}]({{ reference.Link }}): {{ reference.Comment }}
{% endfor %}