# {{ spec.ID }}: {{ spec.Title | title }}

## Descriptive Statement

{{ spec.Description }}

## Capabilities

{% for capability in spec.Capabilities -%}
- [{{ capability.ID }}](/assessments/capabilities/{{ '0'*(3-capability.ID|string|length) + capability.ID|string }}.md)
{% endfor %}
{% if spec.Overrides %}## Overrides

| Profile | Add IDs | Drop IDs | Title Update | Description Update |
| ------- | ------- | -------- | ------------ | ------------------ |
{%- for override in spec.Overrides %}
| {{ override.Profile }} | {{ override.AddIDs|default('[]') }} | {{ override.DropIDs|default('[]') }} | {{ override.TitleUpdate|default('None') }} | {{ override.DescriptionUpdate|default('None') }} |
{%- endfor %}{% endif %}