# {{ profile }} Maturity Assessment Framework

<table>
    <tr>
        <th>Domain</th>
        <th>Capability &rarr; Clear, Actionable Steps</th>
    </tr>
{%- for domain in domains %}
    <tr>
        <td>
        {{ domain.name }}
        </td>
        <td>
        <table>
        {%- for capability in domain.capabilities %}
            <tr>
                <td>
                {{ capability.name }}
                </td>
                <td>
                <table>
                {%- for action in capability.actions %}
                    <tr>
                        <td>
                        {{ action }}
                        </td>
                    </tr>
                {%- endfor %}
                </table>
                </td>
            </tr>
        {%- endfor %}
        </table>
        </td>
    </tr>
{%- endfor %}
</table>