# {{ spec.ID }}: {{ spec.Title | title }}

## Descriptive Statement

{{ spec.Description }}

## Domains

{% for domain in spec.Domains -%}
- {% if domain.ID %}[{{ domain.ID }}]({{ domain.File }}): {% else %}Custom Domain (lookup framework for accurate overview): {% endif %}{{ domain.Title }}
{% endfor %}